* body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  text-align: center;
  font-size: 14px;
  color: #141212;
  border-radius: 5px;
  display: flex;
  padding: 5px;
  margin: 5px;
  border: 1px solid #234668;
  cursor: pointer;
}

.guest-list-single-line {
  display: flex;
  align-items: baseline;
}

.guest-list-single-line button {
  height: 2em;
}
footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  margin-bottom: 0px;
  margin-left: -10%;
}
